{% extends "glavSite/maket.html" %}

{% block head %}
<title>cik</title>
{% load static %}
{#    <link rel="stylesheet" href="{% static 'css/style-cik.css' %}" type="text/css">#}
{#    <link rel="stylesheet" href="{% static 'css/style-knopka.css' %}" type="text/css">#}
    <link rel="stylesheet" href="{% static 'css/style-bul.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head%}

{% block content %}
{% load static %}

    <div class="fon">
        <h1>Подача заявки</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
{#            {{ form }}#}
            <input type="file" name="docA" required>
            <input type="file" name="docB" required>
{#            <input type="file" name="docB" required>#}

            <div class="group">
                <button class="vib" type="submit">Подготовить</button>
            </div>
        </form>
    <div class="group"><a href="{% url 'cik' %}"><button class="vib" type="submit" >Назад</button></a></div>
    </div>

{% endblock  %}