body {
	font-family: Tahoma;
	background-image: url("../image/A_1005_2.png");
	margin: 0; 
}
h1 {
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.fon{
	margin: 0 auto;
	width: 400px;
	height: 200px;
	padding: 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
	background-color: rgb(153,217,234);
}
.group {
	margin: 9px;
	padding: 2px;
	clear: both;
	text-align: center;
}
label {
	margin-left: 10px;
	float: left;
	padding-left: 20px;
	text-transform: uppercase;
	line-height:55px;
}
input {
	float: right;
	margin-top: 10px;
	height: 30px;
	width: 200px;
	border-radius: 20px/20px;
	border: none;
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
input:focus {
	outline: none;
	border: 2px solid #6c00ff;
	transform: translateX(15px);
	width: 185px;
}
button.reg {
	cursor: pointer;
	padding: 5px 20px;
	float: left;
	border: none;
	display: inline-block;
  	color: white;
  	text-decoration: none;
  	outline: none;
  	border-width: 2px 0;
  	border-style: solid none;
  	border-color: #FDBE33 #000 #D77206;
  	border-radius: 6px;
    background: -webkit-linear-gradient(#F3AE0F, #E38916) #E38916;
    background: -o-linear-gradient(#F3AE0F, #E38916) #E38916;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button.reg:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
button.reg:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

button.gos {
	margin-top: 10px;
	cursor: pointer;
	color: white;
  	text-decoration: none;
  	user-select: none; 
  	background: rgb(212,75,56); 
  	padding: 10px 30px;
  	outline: none;
	border: none;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button.gos:hover { background: rgb(232,95,76); } 
button.gos:active { background: rgb(152,15,0); } 

button.vhod {
	cursor: pointer;
	padding: 5px 20px;
	float: right;
  	color: white;
  	text-decoration: none;
  	border-radius: 3px;
  	background: rgb(64,199,129);
	outline: none;
	border: none;
  	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button.vhod:hover { background: rgb(53, 167, 110); }
button.vhod:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.embl{
	text-align: center;
	margin-bottom: 20px;
}

.registr { 
    text-align: center; 
}

button.vib {
	width: 180px;
	cursor: pointer;
	color: white;
	font-size: 30px;
  	text-decoration: none;
  	user-select: none; 
  	background: rgb(255,83,139);  
  	padding: 10px 10px;
  	outline: none;
	border: none;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button.vib:hover { background: rgb(232,95,76); } 
button.vib:active { background: rgb(152,15,0); } 