{% extends "glavSite/maket.html" %}

{% load i18n %}
{% block head %}
	<title>{% trans "Change Password" %}</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'css/style-site_base.css' %}" type="text/css">
{% endblock head %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="fon">

    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    <form>
        <button formaction="/lk/">Назад</button>
    </form>

</div>
{% endblock %}
