{% extends "glavSite/maket.html" %}

{% block head %}
	<title>Developer</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'css/style-developer.css' %}" type="text/css">
{% endblock head %}


{% block content %}
	<div class="fon">
	<form>
		<div class="settings">
			<h1>ЮрФронт</h1>
			<p>Иногда для создания всеобщего блага небходима жертва, будь это деньги, личное время, отличная успеваемость в 
				учебе или даже отношения с любимым человеком. Через это пришлось пройти создателям проекта. 
				На начале проекта нам было всего 19 лет так что не судите строго. Мы обещаем вам усердную работу 
				над нашим дейтищем делая его все более удобным и простым иначе наши жертвы были напрасны.</p>
			<p id="left">Для вас старались:</p>
			<table border="1">
				<tr>
					<td id="col1">Фото (Миша)</td>
					<td id="col2">Шушпанов Михаил (19 лет). Создатель идеи и руководитель команды My Voice. 
						"Я искрене надеюсь, что мой пример вдохновит молодых людей создавать проекты меняющее 
						наше представление мира, что поможет расширить возможности человека. Не бойтесь сделать 
						шаг к своей мечте, совершая смелые поступки мы открываем перед собой новые возможности!"</td>
				</tr>
			</table>
			
			<table border="1">
				<tr>
					<td id="col1">Фото (Андрей)</td>
					<td id="col2">Макаров Андрей (19 лет)....</td>
				</tr>
			</table>

			<table border="1">

				<tr>
					<td id="col1">Фото (Никита)</td>
					<td id="col2">Саражинский Никита (19 лет).</td>
				</tr>
			</table>
		</div>
	</form>
	</div>
{% endblock content %}
