body {
	font-family: Tahoma;
	/* background-color: rgb(153,217,234); */
	background-image: url("../image/A_1005_2.png");
	margin: 0; 
}
.embl{
	text-align: center;
	margin-bottom: 20px;
}
.fon{
	margin: 100px auto;
	width: 450px;
	height: 250px;
	padding: 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
	background-color: rgb(153,217,234);
}

.settings { 
	margin-top: 70px;
}

.settings p {
	font-size: 20px;
}

/* Настройки */

button.gos {
	margin-left: -5px;
	width: 150px;
	height: 50px;
	font-size: 20px;
	cursor: pointer;
	color: white;
  	text-decoration: none;
  	user-select: none; 
  	background: #DC143C;
  	padding: 10px 0px;
  	outline: none;
	border: none;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button.gos:hover { background: rgb(232,95,76); } 
button.gos:active { background: rgb(152,15,0); } 


/*------------------------------Стили Паролей--------------------------*/
.group {
	margin: 9px;
	padding: 2px;
	clear: both;
	text-align: center;
}
label {
	margin-left: 10px;
	float: left;
	padding-left: 20px;
	text-transform: uppercase;
	line-height:55px;
}
input {
	float: right;
	margin-top: 10px;
	height: 30px;
	width: 200px;
	border-radius: 20px/20px;
	border: none;
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
input:focus {
	outline: none;
	border: 2px solid #6c00ff;
	transform: translateX(15px);
	width: 185px;
}